.input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.category {
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    gap: 16px;

    .title {
        color: #222;
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
    }
    .row {
        display: flex;
        gap: 16px;
        align-items: center;
    }
}

.groups {
    display: flex;
    flex-direction: column;
    gap: 16px;
    .title {
        color: #222;
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .groupWrap {
        display: flex;
        gap: 32px;
        flex-wrap: wrap;
    }
}

.btns {
    display: flex;
    align-items: center;
    gap: 16px;
}
